.g-recaptcha {
    overflow: hidden;
}

.reload-captcha {
    background-color: var(--color-principal);
    border-radius: 50%;
    color: #fff;
    border-color: var(--color-secundario);
}

.contenedor-boton {
    position: absolute!important;
    left: 36px;
    top: 58px;
}