:root {
    --color-principal: #123966;
    --color-principal-bajo: #226fc8;
    --color-secundario: rgb(128, 128, 128, 0.9); 
    --color-menu-hover-rojo:#CE1228;
    --color-tercero: #ffc527; 
    --color-cuarto:#1f624f;
    --color-green: #439b43;
    --estilo-letra:#a3ff7d;
    --color-letra-footer:#444040;
    --texto-color-footer:#fff;
    --color-white:#fff;
    --color-black:#000;
    --color-menu:#1b1b1b;
    --color-menu-titulo:#999999;
    --table-color-hover:#2196F3;
}